<div class="full-screen page-content">
  <div class="wrapper">
    <img src="//de4og7052286.witcloud.net/file_3838828808121541386553227.jpg?imageView2/1/w/432/h/270/format/jpg/interlace/1" alt="">
    <div class="text-wrapper">
      <h1 class="title-text">
        Today
      </h1>
    </div>
    <input nz-input placeholder="请输入你喜欢的用户名" #usernameInput [(ngModel)]="username">
    <button nz-button [nzType]="'primary'" (click)="completeSetup()" [disabled]="!usernameInput.value">
      开始
    </button>
    <div class="copy-right">
      Copyright © 2018 Heather Yu
    </div>
  </div>
</div>